# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vscode
dumper/dumper
extractor/extractor
modifier/modifier
dumper/NVIDIA-Linux-x86_64-555.58.02.run
dumper/NVIDIA-Linux-x86_64-555.58.02/
NVIDIA-Linux-x86_64-515.76/
NVIDIA-Linux-x86_64-515.76.run
__pycache__/
